{% load static %}
<div class="faqs">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="section-header left">
          <p>You Might Ask</p>
          <h2>Frequently Asked Questions</h2>
        </div>
        <img src="{% static 'website/img/faqs.jpg'%}" alt="Image" />
      </div>
      <div class="col-md-7">
        <div id="accordion">
          <div class="card">
            <div class="card-header">
              <a
                class="card-link collapsed"
                data-toggle="collapse"
                href="#collapseOne"
                aria-expanded="true"
              >
                <span>1</span> Our offers
              </a>
            </div>
            <div
              id="collapseOne"
              class="collapse show"
              data-parent="#accordion"
            >
              <div class="card-body">
                <span class="star">*</span> Periodic cleaning with official,
                monthly, and annual contracts.<br />
                <span class="star">*</span> Foundational cleanliness, “one day,”
                weekly or monthly, “campaign system.” <br />
                <span class="star">*</span> Cleanliness of exhibitions and
                workshops held for limited periods <br />
                <span class="star">*</span> Cleanliness of real estate and homes
                <br />
                <span class="star">*</span> Cleaning Services
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapseTwo">
                <span>2</span> our vision
              </a>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#accordion">
              <div class="card-body">
                Provide appropriate solutions in cleaning and disinfection for
                each facility separately and find suitable alternatives to
                complete the system required for cleaning and disinfection.
                Always provide the necessary technical advice to all our
                customers and follow up on the field Research and development is
                imperative and we are keen on Providing the latest high-quality
                products in the field of cleaning and disinfection Develop
                comprehensive plans for hygiene, which include all government
                and private institutions, homes and waste places with the
                necessary disinfection.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapseThree">
                <span>3</span> Maintenance work
              </a>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordion">
              <div class="card-body">
                Sewage and water maintenance for bathrooms and kitchens
                Maintenance of power lines inside the place Maintenance,
                cleanliness, disinfection and sterilization of water tanks
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapseFour">
                <span>4</span> cleaning work
              </a>
            </div>
            <div id="collapseFour" class="collapse" data-parent="#accordion">
              <div class="card-body">
                Immediate cleaning "on demand" Cleaning of apartments, houses
                and buildings General hygiene for companies and factories
                Regular cleaning of companies, organizations and government
                institutions, monthly, yearly Supplying cleaning materials and
                equipment and delivering them to the sites according to monthly
                supply contracts or limited orders The company owns a number of
                skilled trained workers in its distinctive uniforms, and we also
                have equipment Cleaning with modern machines, washing floors and
                walls, vacuuming machines, cleaning sets and curtains
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapsefive">
                <span>5</span> Who are almukhadram ?
            </div>
            <div id="collapsefive" class="collapse" data-parent="#accordion">
              <div class="card-body">
                We are one of the systems specialized in integrated cleaning
                work for all purposes and for all facilities and sites.
              </div>
            </div>
          </div>
        </div>
        <a class="btn" href="">Ask more</a>
      </div>
    </div>
  </div>
</div>
