{% load static %}
<div class="feature">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="section-header left">
          <p>Why Choose Us</p>
          <h2>Expert Cleaners and World Class Services</h2>
        </div>
        <p>
          The customer is our focus Our team works in an integrated manner to
          accurately understand your needs and in-depth research into your
          business requirements, so we harness all our capabilities to provide
          an exceptional service that exceeds your expectations.
        </p>
        <a class="btn" href="">Learn More</a>
      </div>
      <div class="col-md-7">
        <div class="row align-items-center feature-item">
          <div class="col-5">
            <img src="{% static 'website/img/feature-1.jpg'%}" alt="Feature" />
          </div>
          <div class="col-7">
            <h3>Expert Cleaners</h3>
            <p>
              We believe that serving our customers is a commitment to them, so
              we put a highly qualified team at your disposal to provide the
              best cleaning services..
            </p>
          </div>
        </div>
        <div class="row align-items-center feature-item">
          <div class="col-5">
            <img src="{% static 'website/img/feature-2.jpg'%}" alt="Feature" />
          </div>
          <div class="col-7">
            <h3>Reasonable Prices</h3>
            <p>
              When we put in front of you all the prices available for
              comparison, you will definitely choose almukhadram to distinguish
              our services and our continuous creativity.
            </p>
          </div>
        </div>
        <div class="row align-items-center feature-item">
          <div class="col-5">
            <img src="{% static 'website/img/feature-3.jpg'%}" alt="Feature" />
          </div>
          <div class="col-7">
            <h3>Quick & Best Services</h3>
            <p>
              Providing proper infrastructure is one of the most important
              requirements for all types of businesses, we understand and value
              this need in all its aspects, thus we spare no effort to provide
              fast services to your world with the highest standards.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
