{% load static %}
<div class="service">
  <div class="container">
    <div class="section-header">
      <p>Our Services</p>
      <h2>Provide Services in sudan</h2>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="service-item">
          <img src="{% static 'website/img/service-1.jpg'%}" alt="Service" />
          <h3>Flour Cleaning</h3>
          <p>
            Different types of floors require different forms of treatment.
            Slipping is a regular concern when cleaning with water or other
            liquids, especially if the floor is left damp.
          </p>
          <a class="btn" href="">Learn More</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="service-item">
          <img src="{% static 'website/img/service-2.jpg'%}" alt="Service" />
          <h3>Glass Cleaning</h3>
          <p>
            We own a wide range of effective and quality glass cleaning tools.
            Get the best deals in glass cleaning at affordable prices
          </p>
          <a class="btn" href="">Learn More</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="service-item">
          <img src="{% static 'website/img/service-3.jpg'%}" alt="Service" />
          <h3>Carpet Cleaning</h3>
          <p>
            Carpet cleaning is done to remove stains, dirt and allergens from
            the carpet. Common methods include hot water extraction, dry
            cleaning, and vacuuming.
          </p>
          <a class="btn" href="">Learn More</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="service-item">
          <img src="{% static 'website/img/service-4.jpg'%}" alt="Service" />
          <h3>Toilet Cleaning</h3>
          <p>
            Cleaning the bathroom periodically is an important thing that should
            not be overlooked, as the bathroom is the place that contains the
            most germs
          </p>
          <a class="btn" href="">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>
