{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}My amazing site{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Cleaning Company Website Template" name="keywords" />
    <meta content="Cleaning Company Website Template" name="description" />

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon" />

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap"
      rel="stylesheet"
    />

    <!-- CSS Libraries -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="{% static 'website/lib/owlcarousel/assets/owl.carousel.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'website/lib/lightbox/css/lightbox.min.css' %}"
      rel="stylesheet"
    />

    <!-- Template Stylesheet -->
    <link href="{% static 'website/css/style.css' %}" rel="stylesheet" />
  </head>

  <body>
    {% block content %}{% endblock %}
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'website/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'website/lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'website/lib/isotope/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'website/lib/lightbox/js/lightbox.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'website/js/main.js ' %}"></script>
  </body>
</html>
